:root {
    --background-image: none;
    --background-scale: 1%;
    --font-family: 'Poppins', sans-serif;
    --primary-color: black;
    --secondary-color: blue;
    --active-color: blue;
    --inactive-color: red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    position: relative;
    --scrollbar-width: none;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--background-image);
    filter: blur(3px);
    z-index: -1;
    transform: scale(var(--background-scale));
    transition: all 300ms ease;
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.grid {
    display: grid;
    gap: 30px 10px;
    height: 99%;
    margin-top: 0.5%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    align-items: center;
    background-color: rgba(211, 211, 211, 0.5);
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    justify-content: center;
    margin: 5px;
    overflow: auto;
    scrollbar-width: none;
    transition: color 300ms ease;
    width: calc(100% - 10px);
}

.content--child-active {
    justify-content: center;
}

.link {
    color: var(--primary-color);
    text-decoration: none;
}

.link:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.paragraph {
    display: none;
    max-height: 0;
    max-width: 60%;
    text-align: center;
    transition: max-height 300ms ease-out;
}

.paragraph.active {
    display: block;
}

.center {
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.line-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.center-line {
    background-color: var(--primary-color);
    height: 95vh;
    margin: calc(2.5vh) auto 0;
    transform: translateX(-50%);
    width: 5px;
}

.selectors-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
    margin-top: calc(2.5vh);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.selector {
    background-color: var(--inactive-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    transition: all 300ms ease;
}

.selector:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.selector.active {
    background-color: var(--active-color);
}

.selector:hover .selector-label {
    background-color: lightgray;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: block;
    padding: 5px;
    position: absolute;
    transform: translateX(25px);
    white-space: nowrap;
}

.selector-label {
    display: none;
}

.text {
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
}
