* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--background-image);
    filter: blur(3px);
    z-index: -1;
    transform: scale(var(--background-scale, 1%));
    transition: all 300ms ease;
}

.content-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.information-grid {
    width: 100%;
    height: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 0.5%;
}

.grid-cell-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell-content {
    margin: 5px;
    width: 98%;
    height: 98%;
    border: 3px solid gray;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-cell-content.child-active {
    justify-content: center;
}

.grid-cell-link {
    text-decoration: none;
    color: black;
    transition: color 300ms ease;
}

.grid-cell-link:hover {
    color: blue;
    cursor: pointer;
}

.grid-cell-paragraph {
    display: none;
    max-height: 0;
    transition: max-height 300ms ease-out;
}

.grid-cell-paragraph.active {
    display: block;
    max-width: 60%;
    text-align: center;
}

.grid-cell-paragraph ul {
    list-style: none;
    padding: 10px;
}

.center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
}

.line-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.center-line {
    background-color: black;
    width: 5px;
    transform: translateX(-50%);
    height: 95vh;
    margin-top: calc(5vh / 2);
    margin-left: auto;
    margin-right: auto;
}

.selectors-wrapper {
    position: absolute;
    width: 100%;
    height: 95vh;
    z-index: 2;
    margin-top: calc(5vh / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selector {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.selector:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all 300ms ease;
}

.selector.active {
    background-color: blue;
}

.selector:hover .selector-label {
    position: absolute;
    transform: translateX(25px);
    display: block;
    white-space: nowrap;
    background-color: lightgray;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.selector-label {
    display: none;
}

.text-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.text {
    color: black;
    font-size: 2em;
}

@media screen and (min-width: 1200px) {
    .content-container {
        max-width: 1200px;
        margin: 0 calc((100vw - 1200px) / 2);
    }
}